<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div name="user[audio]" id="user_audio">

  </div>
 <!--  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>

<div id="wrapper">
  <div>
    <button id="record"                       >Record</button >
    <button id="play"   >Play</a>
    <button id="stop"   >Stop</button >
    <button id="create-user" >Create User</button >
  </div>

  <span id="time">0:00</span>
</div>

<script>
  function timecode(ms) {
    var hms = {
      h: Math.floor(ms/(60*60*1000)),
      m: Math.floor((ms/60000) % 60),
      s: Math.floor((ms/1000) % 60)
    };
    var tc = []; // Timecode array to be joined with '.'
    if (hms.h > 0) {
      tc.push(hms.h);
    }
    tc.push((hms.m < 10 && hms.h > 0 ? "0" + hms.m : hms.m));
    tc.push((hms.s < 10  ? "0" + hms.s : hms.s));
    return tc.join(':');
  }


  Recorder.initialize({
    swfSrc: "/system/users/audios/recorder.swf",
    flashContainer: document.getElementById('user_audio')
  });
  
  $('#record').click(function () {
    Recorder.record({
      start: function(){
      },
      progress: function(milliseconds){
        document.getElementById("time").innerHTML = timecode(milliseconds);
      }
    });
  });

  $('#play').click(function () {
    Recorder.stop();
    Recorder.play({
      progress: function(milliseconds){
        document.getElementById("time").innerHTML = timecode(milliseconds);
      }
    });
  });

  $('#stop').click(function () {
    Recorder.stop();
  });

  $('#create-user').click(function () {
    Recorder.upload({
      method: "POST"      ,
      audioParam: "track[asset_data]",
      url:        "/users",
      audioParam: "audio",
      params: {
        authenticity_token: $('[name="authenticity_token"]').val(),
        email: $('#user_email').val(),
        password: $('#user_password').val()
      },
      success: function(data){
        data = JSON.parse(data);
        console.log(data, data.success, data.id);
        if (data.success) {
          window.location.replace("/users/" + data.id);
        } else {
          location.reload();
        }
      },
      error: function(){
        alert("your file was failed!");
      }
    });
  });
</script>
