<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='location_recorder1'>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <input type="button" id="record" value="Record" style="color:red">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

  <div id='location_recorder'>
  <div style="background-color: #eeeeee;border:1px solid #cccccc">

    Time: <span id="time">00:00</span>

  </div>
  <div>
    Status: <span id="status"></status>
  </div>
  <!-- <input type="button" id="record" value="Record" style="color:red"> -->
  <input type="button" id="play" value="Play" style="color:blue">
  <input type="button" id="stop" value="Stop">
  <input type="button" id="send" value="Send Data">
  <input type="file" accept="image/*;capture=camera">

</div>
<script>
  var locationRecorder = $('#location_recorder1')[0]
  $.jRecorder(
    {
      settings: {
        'recorder_id' : 'product_audio',
        'recorder_name': 'product[audio]'
      },
      host: "<%= new_product_path %>?filename=audio.wav",
      callback_started_recording: function(){callback_started(); },
      callback_stopped_recording: function(){callback_stopped(); },
      callback_activityLevel: function(level){callback_activityLevel(level); },
      callback_activityTime: function(time){callback_activityTime(time);},
      callback_finished_sending: function(time){ callback_finished_sending() },
      swf_path : "<%= asset_path('jRecorder.swf') %>",
    }, $(locationRecorder)
  );

  stop_recorder = function () {
    $.jRecorder.stop();
  }
  $('#record').click(function(){
    $.jRecorder.record(10); //record up to 30 sec and stops automatically
  });

  $('#stop').click(function(){
    stop_recorder();
  });

  $('#play').click(function(){
    console.log("playing...");
    stop_recorder();
  });
  $('#send').click(function(){
    $.jRecorder.sendData();
  });

  function callback_finished()
  {
    $('#status').html('Recording is finished');
  }

  //function callback
  function callback_activityTime(time) {
    $('#time').html(time);
  }
</script>




<% end %>
